/* general */

* {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 45rem;
  margin: 1rem auto;
  padding: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
  }
}

/* navbar */

nav,
nav ul {
  display: flex;
  justify-content: space-between;
}

nav {
  font-weight: 600;
}

nav ul {
  list-style: none;
  justify-content: space-around;
  width: 20rem;
  margin-top: 1rem;
}

h2 a {
  font-size: 1.5rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* about me */

.about-me {
  display: flex;
}

.about-me p {
  margin-right: 1rem;
  line-height: 1.5rem;
  flex-shrink: 2;
}

.img-container {
  width: 75%;
  overflow: hidden;
  margin-top: 1.5rem;
  flex-shrink: 1;
}

.img-container img {
  width: 75%;
  /* margin: -2rem 0; */
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
  }
  
  .img-container {
    width: 50%;
  }
}

/* projects */
.toggle-element {
  cursor: pointer;
  margin: 1rem;
}

.hidden {
  margin-left: 1rem;
}

.fab,
.fas {
  font-size: 2rem;
  margin: 0 1rem;
}
